@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: #ECF2F8;
}

.card-one {
    background-color: #733fc8;
    background-image: url(/assest/background-img.png);
    background-repeat: no-repeat;
    background-position-x: 80%;
}

.image {
    border:  2px solid #000;
}

.testimonial {
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.user-image {
    max-width: 28px;
    max-height: 28px;
    border-radius: 50%;
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: 100%;
}

.name {
    font-size: 13px;
    font-weight: 500;
}

.description {
    color: #48556A;
    font-size: 11px;
    line-height: 11px;
}

.heading {
    font-size: 20px;
    font-weight: 600;
    padding-top: 14px;
    padding-bottom: 16px;
    color: #fff;
}

.paragraph {
    font-size: 13px;
    line-height: 18px;
    color: #CFCFCF;
}

.profile {
    gap: 17px;
    align-items: center;
}

.details {
    gap: 4px;
}

.card-two {
    background-color: #48556A;
    border-radius: 10px;
}

.column-two,.card-three,.card-two {
    max-width: 255px;
}

.column-two,.card-three {
    background-color: #FFFFFF;
}

.card-four {
    background-color: #19202D;
}

.card-padding {
    padding: 26px 32px 26px 32px;
}

.heading-color {
    color: #48556A;
}

.card-four h1,.card-one h1,.card-two h1 {
    color: #fff;
}

.card-four,.card-one {
    max-width: 540px;
    padding: 32px;
}

.border-radius {
    border-radius: 10px;
}

.flex {
    display: flex;
}

.cards,.column-one {
    gap: 30px;
}

.details,.column-one {
    flex-direction: column;
}

.font-color {
    color: #cbcbcbe0;
}

@media (max-width:768px) {

    .testimonial,.cards {
        flex-direction: column;
    }

     .card-width {
        max-width: 100%;
    }

    .card-one {
        background-position-x: 90%;
        padding: 32px;
    }
}
@media (max-width:1108px) {
    .column-two {
        max-width: 100%;
    }
}